<h1> form for making a new user </h1>
<form class='new-user-form' action="/users" method="POST">
  Username:<input type="text" name="user[username]" placeholder="username"><br>
  E-mail:<input type="email" name="user[email]" placeholder="email"><br>
  Password:<input type="password" name="user[password]" placeholder="password"><br>
  <input type="submit" value="Create account">

</form>
