<h1><%= @user.username.capitalize %>'s page</h1>
<h2><%= @user.username %></h2>


<%= erb :'/requests/_cake_request_form' %>

<!-- put request form partial here -->



<div>No longer wish to be a member?</div>
<form action="/users/<%= @user.id%>" method="POST" >
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete your account">
</form>
