<h3>Request a Beach Dog Bakery Cake!</h3>
<form action="/cakerequests" method="POST">
  <input type="text" name="cakerequest[title]" placeholder="What are you requesting?">
  <br>
  <input type="text" name="cakerequest[body]" placeholder="give us some details about your cake">
  <br>
  <input type="datetime-local" name="cakerequest[delivery_date]">
  <br>
  <input type="text" name="cakerequest[choosen_img_url]" placeholder="drop us a url from pintrest!">
  <input type="submit" value="Request a cake!">
</form>


