<h3>Request a Beach Dog Bakery Cake!</h3>
<form action="/requests" method="POST">
  <input type="text" name="request[title]" placeholder="What are you requesting?">
  <br>
  <input type="text" name="request[body]" placeholder="give us some details about your cake">
  <br>
  <!-- i'd love to have some Pintrest interactive platform here so that the user can pin a picture of the cake theyre wanting -->
  <input type="datetime-local" name="request[delivery_date]">
  <br>
  <input type="submit" value="Request a cake!">
</form>