<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>

  <title> Beach Dog Bakery </title>

    <a href="/users/new">Create a new account</a>
    <br>
    <% if !logged_in? %>
    <a href="/login">Login</a>
    <% else  %>
    <a href="/users/<%=current_user.id%>">My Account </a>
    <br>
    <a href="/logout">Logout</a>
    <% end  %>
    <br>
    <a href="/">Home</a>
    <br>
</head>
<body>
  <%= yield %>
  <% if @errors  %>
  <% @errors.each do |error| %>
  <ul>
  <li><%= error %> </li>
  </ul>
  <% end %>
  <% end %>
</body>
</html>
